.back_div {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.gene_head {
  padding: 0.8rem 3%;
  color: black;
  font-size: 1.1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.passwords {
  padding: 5vw 5vw 6vw 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input_change_pass {
  width: 60%;
  color: black;
  margin-top: 1rem;
}

.label_change_pass,
.input_change_pass input {
  width: 100%;
}
.input_change_pass input {
  border: 1px solid rgba(0, 0, 0, 0.268);
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 0.4rem;
}

.change_pass_btn:hover {
  background-color: var(--hover_background_blue_colour);
}
.change_pass_btn {
  margin-top: 1rem;
  cursor: pointer;
  color: white;
  background-color: #3a7afe;
  border-radius: 5px;
  padding: 0.7rem 1.6rem;
  outline: none;
  border: 0;
}
