table {
    width: 100%;
    font-size: 0.75rem;
}

.column {
    display: flex;
    flex-direction: column;
    margin-top: 1vw;
}

td img {
    width: 2vw;
}

.status {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    background-color: #10ca93;
    color: white;
    border-radius: 5px;
    font-size: 0.6rem;
}

.view {
    padding: 0.2vw 0.5vw;
    background-color: #3a7afe;
    width: fit-content;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}